@charset "utf-8";
*{
    margin: 0;padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}
/* app */

#app{
    
    background-color: #80B86F;
    width: 360px;
    height: 640px;
    border: 1px solid #ffffff;
    border-radius: 2rem;
}
#Categories{
    
    padding:0 1rem ;
    margin-top:-1rem;
    display: flex;
    flex-direction: column;
    h1{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        color: #ffffff;
        text-shadow: 2px 3px 1px #4A6143;
    }
    h3{
            margin-bottom: 0.5rem;
            color: #A12424;
            display: flex;
            justify-content: center;
            text-align: center;

            /* 애니메이션 적용 */
            animation: glowPulse 2.3s ease-in-out infinite;
        }
    ul{ 
        padding-bottom: 1rem;
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        width:100%;
        border-radius: 2rem;
        gap: 1rem;
        box-shadow: 1px 1px 20px 0.2px #3e6142;
        li{
            padding:1.6rem 1.4rem;
            font-size: 26px;
            display: flex;
            justify-content:center;
            align-items: center;
            background-color: #ffffff;
            text-align: center;
            box-shadow: 2px 3px 10px #333;
            width: 240px;
            height:100%;
            cursor: pointer;
            margin: 0.5rem 0;
            border-radius:1.5rem ;
            font-weight: bold;
            transition:transform 0.3s ease;

            /* 클릭 시 버튼 색 바꿈 처리 */
            &:hover{
                background-color: #b6c4a9;
                transform: scale(1.05);
                
            }
            img{
                width: 30px;
            }
        }
    }
}

/* 각 버튼 타이틀 색 바꾼거 */
#Categories ul li:nth-child(1) p { color: #DF9731; } 
#Categories ul li:nth-child(2) p { color: #4AB3CA; } 
#Categories ul li:nth-child(3) p { color: #E5D559; } 
#Categories ul li:nth-child(4) p { color: #E053B1; }


/* 버튼 클릭 시 글자 흰색 처리 */
#Categories ul li:hover p {
  color: #ffffff;
}


/* 사이즈 설정 */
@media all and (max-width:360px) {
    #app{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}


/* h3주제 반짝이 애니효과 */
@keyframes glowPulse {
    0%, 100% {
    text-shadow: 
    0 0 1x #A12424  ;
    color: #ffffff;
    }
    50% {
    text-shadow: 
    0 0 1px #A12424 ;
    color: #A12424;
    }
}


/* quizpage*/


#quiz-page{
    height: 92%;
    background-color: #ffffff;
    margin-top: 1.5rem;
    .top{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        img{
            width: 40px;
        }
    }
    .botton{
        height: 72%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        p{
            text-align: center;
        }
    }
    .choices{
        flex: 0 0 60%;
        /* padding: 4.4rem; */
        li{
            padding: 0.5rem;
            font-size: 26px;
            display: flex;
            justify-content:center;
            align-items: center;
            background-color: #ffffff;
            text-align: center;
            box-shadow: 2px 3px 10px #333;
            width: 100%;
            cursor: pointer;
            margin: 1rem 0;
            border-radius:1rem ;
            font-weight: bold;
            font-size: 20px;
            &:hover{
                background-color: #b6c4a9;
                transform: scale(1.05);
                
            }
        }
    }
    .btn{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        button{
            background-color: #ffffff;
            font-size: 20px;
            padding:0.1rem 0.6rem;
            border-radius: 50%;
            font-weight: bold;
            border: none;
            &:hover{
            color:#4A6143 ;
            }
        }
    }
}

/* 마지막 페이지 */
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7rem 0;
    text-align: center;
    .end{
        background-color: #ffffff;
        width: 100%;
        height: 7rem;
        padding: 2rem 0;
        
        border-top: 10px solid#E5D559;
        border-bottom: 10px solid#E5D559;
        h2{
            color: #A12424;
            padding: 1rem;
        }
        buttom{
            padding: 0.3rem;
            border-radius: 0.5rem;
            border: none;
            
        }
    }
    img{
        width:300px;
    }
}
.score-animate {
  animation: popIn 0.8s ease forwards;
}

@keyframes popIn {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  70% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
  }
}